(
  title: "Bevy Crab Pong",
  width: 800,
  height: 800,
  clear_color: Rgba(red: 0.7, green: 0.9, blue: 1.0, alpha: 1.0),
  swaying_camera_speed: 0.2,
  animated_water_speed: 0.01,
  paddle_max_speed: 2.0,
  paddle_seconds_to_max_speed: 1.0,
  fade_speed: 0.75,
  ball_starting_speed: 0.0,
  ball_max_speed: 0.5,
  ball_seconds_to_max_speed: 0.3,
  starting_score: 2,
)
