(
  title: "Bevy Crab Pong",
  width: 800,
  height: 800,
  swaying_camera_speed: 0.2,
  animated_water_speed: 0.01,
  sand_center_point: (0.0, 0.0, 0.0),
  sand_width: 1.0,
  crab_max_speed: 2.2,
  crab_scale: (0.15, 0.1, 0.1),
  crab_start_position: (0.0, 0.05, 0.0),
  fading_speed: 0.75,
  ball_size: 0.1,
  ball_speed: 0.5,
  barrier_width: 0.20,
  pole_radius: 0.05,
  starting_score: 20,
)
