({
    "game.config": File (
        path: "game.config.ron",
    ),
    "fonts.menu": File (
        path: "fonts/FiraSans-Bold.ttf",
    ),
    "images.paddle": File (
        path: "images/paddle.png",
    ),
})
