({
    "game.config": File (
        path: "game.config.ron",
    ),
    "fonts.menu": File (
        path: "fonts/FiraSans-Bold.ttf",
    ),
    "images.crab": File (
        path: "images/crab.png",
    ),
    "images.sand": File (
        path: "images/sand.png",
    ),
    "images.water": File (
        path: "images/water.png",
    ),
})
