(
  pause_message: "PAUSED",
  new_game_message: "
ENTER for a new game.
ESC to quit.
WASD / ARROWS to move the crab.
G to enable debugging.
  ",
  swaying_camera_speed: 0.2,
  ocean_scroll_speed: 0.01,
  crab_max_speed: 2,
  crab_seconds_to_max_speed: 0.6, // 0.65
  ball_speed: 0.5,
  team_win_messages: [
    "You win!\n",
    "You lose.\n"
  ],
  modes: [
    (
      name: "1xInput vs 3xAI",
      ball_count: 2,
      competitors: {
        Bottom: (color: "FF0000", team: 0, player: Input, hit_points: 5),
        Right: (color: "0000FF", team: 1, player: AI, hit_points: 5),
        Top: (color: "FFA600", team: 1, player: AI, hit_points: 5),
        Left: (color: "7F007F", team: 1, player: AI, hit_points: 5),
      },
    ),
    (
      name: "1xAI vs 3xAI",
      ball_count: 2,
      competitors: {
        Bottom: (color: "FF0000", team: 0, player: AI, hit_points: 5),
        Right: (color: "0000FF", team: 1, player: AI, hit_points: 5),
        Top: (color: "FFA600", team: 1, player: AI, hit_points: 5),
        Left: (color: "7F007F", team: 1, player: AI, hit_points: 5),
      },
    ),
    (
      name: "2xAI vs 2xAI",
      ball_count: 2,
      competitors: {
        Bottom: (color: "FF0000", team: 0, player: AI, hit_points: 5),
        Right: (color: "0000FF", team: 0, player: AI, hit_points: 5),
        Top: (color: "FFA600", team: 1, player: AI, hit_points: 5),
        Left: (color: "7F007F", team: 1, player: AI, hit_points: 5),
      },
    ),
    (
      name: "This game is RIGGED!",
      ball_count: 2,
      competitors: {
        Bottom: (color: "FF0000", team: 0, player: AI, hit_points: 25),
        Right: (color: "0000FF", team: 1, player: AI, hit_points: 1),
        Top: (color: "FFA600", team: 1, player: AI, hit_points: 1),
        Left: (color: "7F007F", team: 1, player: AI, hit_points: 1),
      },
    ),
    (
      name: "Multi-Ball Madness",
      ball_count: 10,
      competitors: {
        Bottom: (color: "FF0000", team: 0, player: AI, hit_points: 50),
        Right: (color: "0000FF", team: 0, player: AI, hit_points: 50),
        Top: (color: "FFA600", team: 1, player: AI, hit_points: 50),
        Left: (color: "7F007F", team: 1, player: AI, hit_points: 50),
      },
    ),

    // TODO: Offer a "Pong" mode with 1x player, 1x AI, and 2x walls, 1x ball.
  ],
)
