(
  pause_message: "PAUSED",
  new_game_message: "
ENTER for a new game.
ESC to quit.
WASD / ARROWS to move the crab.
G to enable debugging.
  ",
  swaying_camera_speed: 0.2,
  ocean_scroll_speed: 0.01,
  ball_speed: 0.5,
  team_win_messages: [
    "It's a draw!",
    "You win!\n",
    "You lose.\n",
    "Reds win!",
    "Greens win!",
    "Blues win!",
  ],
  modes: [
    (
      name: "Classic",
      ball_count: 2,
      competitors: {
        Bottom: (color: "FF0000", team: 1, player: Input, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Right: (color: "0000FF", team: 2, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Top: (color: "FFA600", team: 2, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Left: (color: "7F007F", team: 2, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
      },
    ),
    (
      name: "AutoPlay",
      ball_count: 3,
      competitors: {
        Bottom: (color: "FF0000", team: 1, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Right: (color: "0000FF", team: 2, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Top: (color: "FFA600", team: 2, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Left: (color: "7F007F", team: 2, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
      },
    ),
    (
      name: "Red vs Blue",
      ball_count: 3,
      competitors: {
        Bottom: (color: "FF0000", team: 3, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Right: (color: "FF0000", team: 3, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Top: (color: "0000FF", team: 5, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
        Left: (color: "0000FF", team: 5, player: AI, hit_points: 5, seconds_to_max_speed: 0.6, max_speed: 2),
      },
    ),
    (
      name: "This game is RIGGED!",
      ball_count: 5,
      competitors: {
        Bottom: (color: "000000", team: 1, player: AI, hit_points: 50, seconds_to_max_speed: 0.01, max_speed: 2),
        Right: (color: "0000FF", team: 5, player: AI, hit_points: 1, seconds_to_max_speed: 0.6, max_speed: 2),
        Top: (color: "00FF00", team: 4, player: AI, hit_points: 1, seconds_to_max_speed: 0.6, max_speed: 2),
        Left: (color: "FF0000", team: 3, player: AI, hit_points: 1, seconds_to_max_speed: 0.6, max_speed: 2),
      },
    ),
    (
      name: "Stress Test",
      ball_count: 50,
      competitors: {
        Bottom: (color: "FFFF00", team: 3, player: AI, hit_points: 50, seconds_to_max_speed: 0.01, max_speed: 20),
        Right: (color: "FFFF00", team: 3, player: AI, hit_points: 50, seconds_to_max_speed: 0.01, max_speed: 20),
        Top: (color: "00FFFF", team: 4, player: AI, hit_points: 50, seconds_to_max_speed: 0.01, max_speed: 20),
        Left: (color: "00FFFF", team: 4, player: AI, hit_points: 50, seconds_to_max_speed: 0.01, max_speed: 20),
      },
    ),

    // TODO: Offer a "Pong" mode with 1x player, 1x AI, and 2x walls, 1x ball.
  ],
)
